@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-black: rgba(37, 45, 60, 1);
  --font-black-2: rgba(52, 64, 84, 1);
  --font-grey: rgba(119, 127, 140, 1);
  --border-1: rgba(205, 208, 213, 1);
  --border-2: rgba(205, 208, 213, 0.4);
  --dashboard-sideBar-bg-1: rgba(245, 232, 233, 1);
  --dashboard-sideBar-bg-active: rgba(224, 183, 187, 1);
  --dashboard-sideBar-bg-hover: rgba(224, 183, 187, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.6875em;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body * {
  scroll-behavior: smooth;
}

.input {
  background-color: rgba(249, 249, 250, 1);
}

.custom-font-black {
  color: var(--font-black);
}

.custom-font-black-2 {
  color: var(--font-black-2);
}

.custom-font-grey {
  color: var(--font-grey);
}

.custom-border-1 {
  border: 1px solid var(--border-1);
}

.custom-border-1-bottom {
  border-bottom: 1px solid var(--border-1);
}

.custom-border-2 {
  border: 1px solid var(--border-2);
}

.custom-border-2-bottom {
  border-bottom: 1px solid var(--border-2);
}

.custom-dark-grey {
  color: rgba(37, 45, 60, 1);
}

.custom-input-bg-grey {
  background-color: rgba(28, 28, 28, 1);
}

input.custom-input-bg-grey, 
input.custom-input-bg-grey::placeholder {
  font-size: 14px;
  font-weight: 400;
}

input.custom-input-bg-grey-2, 
input.custom-input-bg-grey-2::placeholder {
  font-size: 12px;
  font-weight: 400;
}

.button-hover {
  cursor: pointer;
}

.dashboard-sidebar-bg-1 {
  background-color: var(--dashboard-sideBar-bg-1);
}

.dashboard-sidebar-bg-2 {
  background-color: var(--dashboard-sideBar-bg-active);
}

.dashboard-sidebar-menu-item:hover {
  background-color: var(--dashboard-sideBar-bg-hover);
}

.primary-bg {
  background-color: var(--primary-background);
}

input.navbar-search-input {
  width: 20rem;
}

.dashboard-report-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-report-filter-input {
  width: 15rem;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Makes the scrollbar very tiny */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: whitesmoke; /* Scrollbar color */
  border-radius: 10px; /* Curved edges */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Hides scrollbar track */
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: whitesmoke transparent; /* Scrollbar color */
}


/* MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES  */
@media (max-width: 1140px) {
  .custom-grid-table-box {
    overflow-x: auto;
  }

  table.custom-grid-table {
    min-width: 200px;
  }

  input.navbar-search-input {
    width: 120px;
  } 
}

@media (max-width: 770px) {
  .dashboard-subHeader {
    flex-direction: column !important;
    align-items: flex-start;
  }

  .dashboard-subHeader-partB {
    margin-top: 5px;
  }

  .dashboard-report-filter {
    flex-direction: column;
    align-items: flex-start;
  }

  .dashboard-report-filter span {
    margin: 5px 0;
    padding-left: 5px;
  }

  .rdrDateRangePickerWrapper {
    flex-direction: column !important;
  }
  
}

@media (max-width: 500px) {
  input.dashboard-filter-input {
    width: 130px !important;
  } 

  input.dashboard-report-filter-input {
    width: 85vw !important;
  }
}